$COLOR_SCONDARY: #dbedf0;

.normal {
  svg{
    position: fixed;
    bottom: 0px;
    fill: #4699ca;
    cursor: pointer;
    z-index: 11;
    
    text {
      color: $COLOR_SCONDARY;
      font-size: 1.7rem;
      -ms-user-select: none;
      -webkit-user-select: none;
      user-select: none;
    }
    circle {
      r: 100px;
      cy: 100px;
    }
  }
  
  svg {
    transform: translate(0px, 4px);
  }
}

.empha {
  position: fixed;
  bottom: 0px;
  fill: #1760a0;
  cursor: pointer;
  z-index: 11;

  text {
    color: $COLOR_SCONDARY;
    font-size: 2rem;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  circle {
    r: 180px;
    cy: 180px;
  }
  svg {
    transform: translate(0px, 4px);
  }
}

.left {
  svg{
    left: 0px;
    circle {
      cx: 70px;
    }
    text {
      text-anchor: start;
      transform: translate(30px, 100px);
    }
  }
}

.right {
  right: 0px;
  circle {
    cx: 200px;
  }
  text {
    text-anchor: end;
    transform: translate(90%, 100px);
  }
}

@media screen and (max-width: 400px) {
  .normal {
    width: 50% !important;
    svg {
      width: 100% !important;
      text{
        font-size: 1.4rem;    
        transform: translate(40px, 70px) !important;
      }
      g{
        transform: translate(-20px, 30px) !important;
      }
      }
  }
  .empha {
    width: 70% !important;
    svg {
      width: 100% !important;
      text{
        font-size: 1.5rem;
      }
      g {
        transform: translate(0px, 30px) !important;
      }
    }
  }
  .left {
    svg{
      left: 0px;
      circle {
        cx: 70px;
      }
      text {
        transform: translate(30px, 100px);
      }
    }
  }
  .right {
    right: 0px;
    circle {
      cx: 200px;
    }
    text {
      transform: translate(90%, 80px)!important;
    }
  }
}

