$COLOR_PRIMARY: #002D5E;
$COLOR_SCONDARY: #dbedf0;

.normal {
  button{
    position: fixed;
    bottom: 0px;
    font-size: 4vh;
    padding: 3vh;
    z-index: 11;
    border: none;
    background-color: #4699ca;
    color: $COLOR_SCONDARY;
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &:active{
      animation: onclick 0.2s ease 0s;
    }
  }
}

.empha {
  button{
    position: fixed;
    bottom: 0px;
    font-size: 6vh;
    padding: 4vh;
    z-index: 11;
    color: $COLOR_SCONDARY;
    border: none;
    background-color:  #1760a0;
    cursor: pointer;
    &:focus{
      outline: none;
    }
    &:active{
      animation: onclick 0.2s ease 0s;
    }
  }
}

.left {
  button{
    left: 0px;
    padding-right: 10vh;
    border-radius: 0px 30vh 0px 0px;
  }
}

.right {
  button{
    right: 0px;
    padding-left: 10vh;
    border-radius: 50vh 0px 0px 0px;
  }
}

@media screen and (max-width: 420px) {
  .normal {
    button{
      position: fixed;
      z-index: 11;
      bottom: 0px;
      font-size: 5vw;
      padding: 5vw;
      &:focus{
        outline: none;
      }
      &:active{
        animation: onclick 0.2s ease 0s;
      }
    }
  }
  .empha {
    button{
      position: fixed;
      z-index: 11;
      bottom: 0px;
      font-size: 8vw;
      padding: 7vw;
      color: $COLOR_SCONDARY;
      border: 1px solid  #1760a0;
      background-color:  #1760a0;
      &:focus{
        outline: none;
      }
      &:active{
        animation: onclick 0.2s ease 0s;
      }
    }
  }
  .left {
    button{
      left: 0px;
      padding-right: 15vw;
      border-radius: 0px 60vw 0px 0px;
    }
  }
  
  .right {
    button{
      right: 0px;
      padding-left: 15vw;
      border-radius: 60vw 0px 0px 0px;
    }
  }
}

@keyframes onclick{
  0%{
  }
  100%{
    // border: 5px solid $COLOR_SCONDARY;
    background-color: $COLOR_SCONDARY;
  }
}