$COLOR_SCONDARY: #dbedf0;

@keyframes load {
  0% {
    content: "\00a0\00a0\00a0";
  }
  25% {
    content: ".\00a0\00a0";
  }
  50% {
    content: "..\00a0";
  }
  100% {
    content: "...";
  }
}

.loading {
  color: $COLOR_SCONDARY;
  font-size: 1.3rem;
  font-weight: bold;

  &:after {
    content: "\00a0\00a0\00a0";
    animation: load 1s ease infinite;
  }
}
