$COLOR_PRIMARY: #002D5E;
$COLOR_SCONDARY: #DBEDF0;
$COLOR_LABEL: #8DABC5;

.table_body {
  // padding-top: 2rem;
  text-align: -webkit-center;
}

.table {
  width: 100%;
  display: table;
  //   border-bottom: 1px solid black;
  margin-top: 1rem;
  border-collapse: separate;
  border-spacing: 0px;
  text-align: center;
  cursor: pointer;
}

.tbody{
  height: 60vh;
  overflow-y: scroll;
}

.title {
  color: $COLOR_LABEL;
  font-size: 1.5rem;
  font-weight: bold;
}

.mode {
  color: $COLOR_LABEL;
  font-weight: bold;
  &::after{
    content: "-"
  }
  &::before{
    content: "-"
  }
}


.tr{
  padding: 0.2rem;
  margin: 10px;
  zoom:80%;
  margin-left: 9%;
  margin-right: 9%;
  display: table;
  border-radius: 5px;
  color: $COLOR_PRIMARY;
  background-color: #8DABC5;
  font-weight: bold;
}

.tr .td:nth-child(1) {
  color: white;
  width: 10%;
}
.tr .td:nth-child(2) {
  width: 20%;
}
.tr .td:nth-child(3) {
  width: 50%;
}

.tr:nth-child(1) {
  zoom: 100%;
  margin-left: 0px;
  margin-right: 0px;
  color: $COLOR_PRIMARY;
  background-color: #4699CA;
  // color: $COLOR_SCONDARY;
  & > .td:nth-child(1) {
    color: $COLOR_PRIMARY;
  }
}

.tr:nth-child(2) {
  zoom: 95%;
  margin-left: 3%;
  margin-right: 3%;
  color: $COLOR_PRIMARY;
  background-color:#7FC1D0;
  & > .td:nth-child(1) {
    color: #0089A8;
  }
}

.tr:nth-child(3) {
  zoom: 90%;
  margin-left: 6%;
  margin-right: 6%;
  color: $COLOR_PRIMARY;
  background-color:$COLOR_SCONDARY;
  // background-color: #aa8420;
  & > .td:nth-child(1) {
    color: #69CFE1;
  }
}

.th {
  // border: 1px solid #2562cc;
  background-color: #2e7bff;
  color: white;
}

.td {
  display: table-cell;
  padding: 0.2rem;
}

.small{
  width: 6rem;
  font-size: 0.7rem;
}

.thead .tr{
  zoom: 100%;
  margin: 0px;
  background-color: rgba(0,0,0,0);
  color: $COLOR_SCONDARY;
  opacity: 0.5;
  & > .td:nth-child(1) {
    color: $COLOR_SCONDARY;
  }
}