$COLOR_PRIMARY: #002d5e;
$COLOR_SCONDARY: #dbedf0;

.user {
  float: right;
  font-size: 1rem;
  padding: 0rem 1.4rem 0.2rem 2rem;
  background-color: $COLOR_SCONDARY;
  border-bottom-left-radius: 5rem;
  color: $COLOR_PRIMARY;
  cursor: default;
}
