$COLOR_PRIMARY: #002D5E;

@media screen and (min-width: 767px) { 
  .cell{
    width: 18vmin !important;
    height: 18vmin !important;
    font-size: 8vmin !important;
  }
}

.cell{
    width: 28vmin;
    height: 28vmin;
    min-width: 10%;
    min-height: 4rem;
    font-size: 10vmin;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 3px solid $COLOR_PRIMARY;
    cursor: pointer;
    user-select: none;

    &.static{
      background-color: #8DABC5;  
    }
    
    &.variable{
      background-color: #DBEDF0;  
    }

    &.variable:hover{
        background-color: rgb(195, 230, 236);  
    }
}