$COLOR_PRIMARY: #002D5E;

@media screen and (min-width: 767px) { 
    .body{
        margin: auto;
        width: 60vmin;
    }
}

.body{
    height: 100vh;
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    background: $COLOR_PRIMARY;
}