$COLOR_SCONDARY: #DBEDF0;

.board_outline{
    padding: 2px;
    border: 4px solid $COLOR_SCONDARY;
}

.board_body{
    position: relative;
    padding: 2px;
    border: 2px solid $COLOR_SCONDARY;
}


.board_hidden{
    position: absolute;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background-color: rgba(0,0,0, 0.4);
}