$COLOR_PRIMARY: #002d5e;
$COLOR_SCONDARY: #dbedf0;


.fixed{
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;

}

.header {
  width: 100%;
  padding: 0.2rem;
  z-index: 100;
  background-color: $COLOR_PRIMARY;
  border-bottom: 3px solid #dbedf0;
}

.div {
  display: table;
}

.logo {
  height: 2.1rem;
  vertical-align: middle;
}

.app_title {
  margin-left: 1rem;
  font-size: 1.5rem;
  vertical-align: bottom;
  text-decoration: none;
  -webkit-text-stroke: 1px white;
  border-bottom: 1px solid white;
  color: $COLOR_PRIMARY;

  &:hover {
    -webkit-text-stroke: 1px #79dcf2;
    color: #79dcf2;
  }
}

.help {
  // font-size: 1.5rem;
  position: fixed;
  right: 0px;
  top: 0px;
  padding: 10px;
  color: white;
  text-decoration: none;
  img {
    height: 1.5rem;
    vertical-align: middle;
  }
}

.user {
  float: right;
  font-size: 1.2rem;
  padding: 0rem 1.4rem 0.2rem 2rem;
  background-color: $COLOR_SCONDARY;
  border-bottom-left-radius: 5rem;
  color: $COLOR_PRIMARY;
  cursor: default;
}