.header {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 0.5rem;
  z-index: 100;
  background-color: #0487d9;
  color: white;
}

.app_title {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;

  &:hover {
    color: #79dcf2;
  }
}
